@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
  
}
.header{
    background: #1f2937 ;
    display: flex;
    gap:100px;
    padding: 0 100px;
    justify-content: center;
    padding-bottom: 70px;
}

.right-links{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.left-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    padding: 0%;
}

/* Elimina el punto adelante de un elemento de la lista*/
ul{
    list-style: none;
}

.main-text{
    margin-top: 70px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
  
}

.subtext{
    margin-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.img-one{
    width: 400px;
    height: 200px;
    margin-top: 70px;
    border-radius: 0px;
    border-style: none;

}
img{
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
}

.header-right{
    display: flex;
    flex-direction: column;
}

.header-left{
    display: flex;
    flex-direction: column; 
}

button {
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #3882f6;
    width: 105px;
    height: 30px;
    color:#e5e7eb;
}

.random-info{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 100px;
    justify-content: center;
    padding-bottom: 100px;
    gap: 50px;
    margin-top: 30px;
}

.info-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.pictures{
    display: flex;
    gap:50px;
    justify-content: center;
    flex-wrap: wrap;
}

.picture{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 200px;
}

.subtext2{
    margin-top: 10px;
    font-size: 15px;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.quote{
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    padding:100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-text{
    font-size: 36px;
    font-weight: 100;
    color: #273241;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.quote-sign{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.signUp-section{
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    padding: 50px;

    margin: 70px 200px;
    border-radius: 8px;
    justify-content: space-around;
}

.signUp-text{
    display: flex;
    flex-direction: column;
}

.subtext3{
    font-size: 15px;
    color: #f9faf8;
}

.signUp-title{
    font-size: 20px;
    color: #f9faf8;
    font-weight: 700;
}

.button-signup2{
    border-radius: 8px;
    width: 105px;
    height: 30px;
    color:#e5e7eb;
    border-color: white;
    font-weight: 700;
    border-style: solid;
    font-size: 14px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    font-size: 14px;
    color: #e5e7eb;
    padding:20px;
}
