body{
    background-color: #1f2937 ;
}
.header{
    display: flex;
    justify-content: center;
    gap:100px;
}

.right-links{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.left-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    padding: 0%;
}

/* Elimina el punto adelante de un elemento de la lista*/
ul{
    list-style: none;
}

.main-text{
    margin-top: 100px;
    font-size: 38px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text{
    margin-top: 10px;
    font-size: 16px;
    color: #e5e7eb;
}

.img-one{
    width: 400px;
    height: 200px;
    margin-top: 100px;
}

.header-right{
    display: flex;
    flex-direction: column;

}

.header-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

button {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882f6;
    width: 105px;
    height: 30px;
    color:#e5e7eb;
  }
