@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}
.header{
    background: #1f2937 ;
    display: flex;
    gap:100px;
    padding: 0 100px;
    justify-content: center;
    padding-bottom: 100px;
}

.right-links{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.left-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    padding: 0%;
}

/* Elimina el punto adelante de un elemento de la lista*/
ul{
    list-style: none;
}

.main-text{
    margin-top: 100px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
  
}

.subtext{
    margin-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.img-one{
    width: 400px;
    height: 200px;
    margin-top: 100px;
}

.header-right{
    display: flex;
    flex-direction: column;
}

.header-left{
    display: flex;
    flex-direction: column; 
}

button {
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #3882f6;
    width: 105px;
    height: 30px;
    color:#e5e7eb;
}

.random-info{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.info-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.pictures{
    display: flex;
}